/* 导航开始 */

#daohang{
    width: 1200px;
    height: 126px;
    margin: 0 auto;
}
.logo{
    float: left;
    width: 192px;
}
.daohang-wenzi{
    float: right;
    width: 1002px;
    margin: 46px -18px 0 0;
    color: #000;
    font-size: 12px;
    line-height: 22px;
}
.daohang-wenzi li{
    margin-left: 11px;
    float: left;
}
.daohang-wenzi a{
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    display: block;
    height: 40px;
    color: #333;
    width: 100px;
    float: left;
}
.daohang-wenzi a:hover{
    color: #c60108;
    border-bottom: 1px #c60108 solid;
}
/* 导航结束 */

/* banner开始 */
.banner{
    position: relative;
}
.lunbodian{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    z-index: 100;
}
.lunbodian li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    display: inline-block;
    margin: 0 5px;
}
/* banner开始 */

/* 内容开始 */
.ppzs{
    min-width: 1200px;
    padding-top: 30px;
    margin-bottom: 40px;
}
.wenzi-top{
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    border-bottom: solid 1px #ccc;
}
.wenzi-p{
    float: left;
    height: 74px;
    line-height: 50px;
    background: url(../images/product_tline.jpg) no-repeat 2px bottom;
    color: #404040;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}
.wenzi-y{
    float: right;
    color: #333;
    font-size: 15px;
    margin-top: 16px;
    line-height: 24px;
}
.wenzi-y img{
    width: 22px;
    height: 20px;
    float: left;
    margin-right: 15px;
}
.wenzi-y a{
    color: #333;
}
.wzsy{
    color: #727272;
}
.wzsy-1{
    color: #c7000a;
}
.product{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.product ul{
    display: block;
}
.product ul li{
    font-size: 17px;
    display: inline;
}
.product ul li a{
    width: 140px;
    height: 42px;
    line-height: 42px;
    background: #404040;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    margin: 0 14px 20px 14px;
}
.producto{
    width: 1056px;
    margin: 0 auto;
}
.producto ul li{
    float: left;
    width: 330px;
    height: 395px;
    margin: 0 11px 22px 11px;
    display: inline;
    position: relative;
}
.producto li .product_fon{
    width: 330px;
    height: 78px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.producto li .product_fon a {
    display: block;
    height: 65px;
    line-height: 65px;
    margin-top: 13px;
    color: #333;
    background: #f8f8f8;
}
.producto img {
    width: 330px;
    height: 330px;
}

/* 最底部开始 */
.zuidibu{
    min-width: 1200px;
    background: #2e2d29;
    padding: 70px 0 42px 0;
    overflow: hidden;
}
.zuidibu-bj{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.dibu-zuo{
    float: left;
    width: 730px;
    padding-left: 90px;
}
.dibu-you{
    float: right;
    width: 304px;
    padding-right: 10px;
}
.dibu-zuo dl{
    float: left;
    width: 198px;
}
.dibu-zuo dt{
    line-height: 34px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}
.dibu-zuo dd{
    line-height: 26px;
    font-size: 15px;
    color: #737373;
}
.dibu-zuo a{
    color: #737373;
}
.zixun-dianhua{
    width: 220px;
}
.zixun-dianhua dt{
    line-height: 34px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}
.zixun-dianhua dd{
    line-height: 26px;
    font-size: 15px;
    color: #737373;
}
.zixun-dianhua img{
    margin-bottom: 4px;
}
.banquan{
    min-width: 1200px;
    text-align: center;
    background: #3c3c3a;
    border-top: solid 1px #343330;
    line-height: 48px;
    color: #737373;
    font-size: 14px;
}
/* 最底部结束 */

.fc-tu{
    width: 1100px;
    height: 741px;
}
.fc-tu img{
    width: 100%;
    height: 100%;
}
.jm-xbt{
    text-align: center;
    font-weight:  bold;
    margin-bottom: 36px;
}
.jm-xbt1{
    text-align: center;
    font-weight:  bold;
    margin-top:32px;
}
.jm-tp1{
    width: 700px;
    height: 203px;
    margin: 0 auto;
}
.jm-tp{
    width: 700px;
    height: 338px;
    margin: 0 auto;
}
.fw-wz{
    width: auto;
    min-height: 360px;
    padding: 15px;
    padding-right: 0px;
    color: #000;
    text-align: justify;
}
.fw-wz span{
    line-height: 2;
    font-size: 16px;
}